<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundGraphic</key>
	<string>medium</string>
	<key>Entities</key>
	<array>
		<dict>
			<key>gridPositionX</key>
			<real>3</real>
			<key>gridPositionY</key>
			<real>2</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>3</real>
			<key>gridPositionY</key>
			<real>1</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>2</real>
			<key>gridPositionY</key>
			<real>5</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>2</real>
			<key>gridPositionY</key>
			<real>6</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>2</real>
			<key>gridPositionY</key>
			<real>7</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>2</real>
			<key>gridPositionY</key>
			<real>8</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>3</real>
			<key>gridPositionY</key>
			<real>8</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>7</real>
			<key>gridPositionY</key>
			<real>10</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>7</real>
			<key>gridPositionY</key>
			<real>9</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>8</real>
			<key>gridPositionY</key>
			<real>13</real>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>13</real>
			<key>gridPositionY</key>
			<real>12</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>14</real>
			<key>gridPositionY</key>
			<real>12</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>15</real>
			<key>gridPositionY</key>
			<real>12</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>15</real>
			<key>gridPositionY</key>
			<real>9</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>15</real>
			<key>gridPositionY</key>
			<real>8</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>15</real>
			<key>gridPositionY</key>
			<real>7</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>15</real>
			<key>gridPositionY</key>
			<real>6</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>14</real>
			<key>gridPositionY</key>
			<real>6</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>10</real>
			<key>gridPositionY</key>
			<real>7</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>gridPositionX</key>
			<real>7</real>
			<key>gridPositionY</key>
			<real>11</real>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>MapGridHeight</key>
	<real>15</real>
	<key>MapGridWidth</key>
	<real>22</real>
</dict>
</plist>
